<div class="alert alert-success" role="alert">
  <p>Order received for <%= @book.Title %> at $<%= @book.Price %>.</p>
  <%= link_to 'Back to library', library_index_path, class: 'btn btn-primary' %>
</div>


